$primary-hex: rgb(106, 167, 238);
$sidebar-color: rgb(70, 70, 70);
$sidebar-size: 230px;
$header-color:linear-gradient(103deg, rgba(255,51,0,1) 0%, rgba(255,98,0,1) 100%);
$hover-txt-color:rgba(255,51,0,1);

$app-font-serif: "Garamond";
$app-font-sans-serif: "Acme";