.sp-sidebar{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    padding-top: 70px;  
    width: $sidebar-size;
    overflow: auto;
    z-index: 10;
    background-color: $sidebar-color;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);

    @media (max-width:768px) {
        left: -$sidebar-size;
    }

    transition: left 0.3s ease;
    width: 0.3s ease;
}

.sp-menu{
    margin-bottom: 0;
    list-style: none;
    margin:0;
    padding-left: 0;
    padding-bottom: 5px;
    
}

.dropdown-iten{
    &:hover,
    &:focus{
        background-color: rgba(0, 0, 0, 0.1);
        color:$sidebar-color;
        text-decoration: none;
    }

}

.sp-menu__item{
    position: relative;
    display: flex;
    align-items: left;
    padding: 0.5rem 0.5rem;
    text-align: center;
    vertical-align: middle;
    border-left: 5px solid transparent;
    color:white;
    &:hover,
    &:focus{
        background-color: rgba(0, 0, 0, 0.1);
        color:$hover-txt-color;
        text-decoration: none;
        
    }
}

.sp-menu__item i{
    padding: 0.5rem 0.5rem;
    font-style: normal;
}


.sp.sp-sidebar-toggled .sp-sidebar{
    left: 0px;
    right: 0px;
}

.main{
    left: $sidebar-size;
}